%%%-------------------------------------------------------------------
%%% @author Evgeniy Khramtsov <ekhramtsov@process-one.net>
%%% @copyright (C) 2013, Evgeniy Khramtsov
%%% @doc
%%%
%%% @end
%%% Created :  8 May 2013 by Evgeniy Khramtsov <ekhramtsov@process-one.net>
%%%-------------------------------------------------------------------
%% Macros
{roster_gateway_workaround, false}.
{transient_supervisors, false}.
{full_xml, false}.
{nif, false}.
{db_type, generic}.
{debug, true}.
{hipe, false}.

%% Ad-hoc directories with source files
{tools, false}.

%% Dependencies
{odbc, false}.
{mysql, false}.
{pgsql, false}.
{pam, false}.
{zlib, true}.
{riak, false}.
{json, false}.
{http, false}.
{lager, true}.
{iconv, true}.

%% Version
{vsn, "14.07"}.

%% Variables for overlay template files

%% Platform-specific installation paths
{release, true}.
{release_dir, "${SCRIPT_DIR%/*}"}.
{sysconfdir, "{{release_dir}}/etc"}.
{installuser, ""}.
{erl, "{{release_dir}}/{{erts_vsn}}/bin/erl"}.
{localstatedir, "{{release_dir}}/var"}.
{libdir, "{{release_dir}}/lib"}.
{docdir, "{{release_dir}}/doc"}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
