% -*- mode: erlang -*-                                                                                                                                                            

{erl_opts,[{parse_transform,lager_transform}]}.
{lib_dirs, ["deps"]}.
{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
        {eredis,".*",{git,"https://github.com/mkurkov/eredis.git",{branch, "sentinel"}}},
    {p1_pgsql, ".*", {git, "https://github.com/processone/pgsql.git", {branch, "master"}}},
        {cowboy, "1.0.1", {git, "https://github.com/ninenines/cowboy.git", "1.0.1"}},
        {rfc4627_jsonrpc, ".*", {git, "https://github.com/tonyg/erlang-rfc4627"}},
    {recon, ".*", {git, "https://github.com/ferd/recon.git", {branch, "master"}}},
    {p1_xml, ".*", {git, "git://github.com/processone/xml"}}
    ]}.

