[{ejb_http_server, [
             {route_rules, [
					{"/getusers", http_getusers, []},
					{"/getdeps", http_getdeps, []},
					{"/getcmsginfo",http_getmsgs,[]},
					{"/getonlineuser",http_getonlineuser,[]},
					{"/getonlineuser2",http_getonlineuser2,[]},
					{"/getadjacentmsg",http_get_adjacentmsg,[]},
					{"/getusersuoxie",http_getsuoxie,[]},
					{"/getmucmsg",http_getmucmsg,[]},
					{"/getservertime",http_getservertime,[]},
					{"/setuserkey",http_setmackey,[]},
					{"/person/setuserkey",http_set_person_mackey,[]},
					{"/getvcardinfo",http_getvcardinfo,[]},
					{"/setvcardinfo",http_setvcardinfo,[]},
					{"/get_user_profile",http_get_user_profile,[]},
					{"/set_user_profile",http_set_user_profile,[]},
					{"/setmucvcard",http_setmucvcard,[]},
					{"/getmucvcard",http_getmucvcard,[]},
					{"/sendmessage",http_sendmessage,[]},
					{"/send_warn_msg",http_send_warn_msg,[]},
					{"/send_wlan_msg",http_wlan_send_message,[]},
					{"/get_muc_history2",http_get_muc_history2,[]},
					{"/get_muc_history3",http_get_muc_history3,[]},
					{"/get_recent_contacts",http_get_recent_contacts,[]},
					{"/sendnotice",http_sendall,[]},
					{"/senddeprt",http_senddep,[]},
					{"/qmonitor.jsp",http_qmonitor,[]},
					{"/healthcheck.html",http_healthcheck,[]},
					{"/getuserstatus", http_getuserstatus, []},
					{"/get_user_status", http_get_exact_user_status, []},
		            		{"/setblacklist", http_setblacklist, []},
            				{"/setwhitelist", http_setwhitelist, []},
					{"/gethistory",http_gethistory,[]},
					{"/getmuchistory",http_getmuchistory,[]},
					{"/get_increment_mucs",http_get_increment_mucs,[]},
					{"/check_user_tkey",http_check_auth,[]},
					{"/check_user_tkey_v2",http_check_auth_v2,[]},
					{"/domain/get_vcard_info",http_get_vcard_info,[]},
					{"/domain/get_muc_history",http_get_muc_history,[]},
					{"/domain/get_muc_vcard",http_get_muc_vcard,[]},
					{"/domain/get_muc_msg",http_get_muc_msg,[]},
					{"/domain/get_user_status",http_get_user_status,[]},
					{"/domain/get_msgs",http_get_msgs,[]},
					{"/pb/get_msgs",http_get_pb_msgs,[]},
					{"/domain/get_history",http_get_history,[]},
					{"/domain/search_vcard",domain_search_vcard,[]},
					{"/domain/get_user_muc_last",http_get_user_muc_last,[]},
		                        {"/domain/get_muc_history_v2",http_get_muc_history_v2,[]},
                                        {"/create_muc",http_create_muc,[]},
					{"/management_cmd",http_management,[]},
					{"/user_robot",http_subscription,[]},
					{"/get_robot",http_getrbtinfo,[]},
					{"/get_increment_users",http_get_increment_users,[]},
					{"/recommend_robot",http_recommend_rbts,[]},
					{"/search_robot",http_search_rbts,[]},
					{"/register_robot",http_rbtReg,[]},
					{"/update_robot",http_setrbtinfo,[]},
					{"/send_rbt_msg",http_send_rbt_msg,[]},
					{"/get_invite_info",http_get_invite_info,[]},
					{"/get_user_nick",http_get_user_nick,[]},
					{"/log_dump_url",http_log_dump_url,[]},
					{"/get_dump_url",http_get_dump_url,[]},
					{"/get_msg_history_backup",http_get_msg_backup,[]},
					{"/get_muc_history_backup",http_get_muc_backup_msg,[]},
					{"/conf/get_person",http_get_person_config,[]},
					{"/conf/get_group",http_get_muc_config,[]},
					{"/conf/set_person",http_set_person_config,[]},
					{"/conf/set_group",http_set_muc_config,[]},
            		{"/registeruser", http_registeruser, []}
                       ]},
			  {http_port,	   [{port,10056}]},
              {before_filters, [{http_before_filter_static, main, []}]},
              {after_filters, [{http_after_filter_static, main, []}]},
              {start_options, [
                            {redis, [
				   {start_mode, 1},
				   {sentinel_hosts, ["l-redis.com:26379","l-redis2.com:26379"]},
				   {master,"sentinel:mymaster"},
                                   {server, "192.168.255.15"},
                                   {port, 26379},
                                   {password, "redispass"},
                                   {tables, [2]},
                                   {pool_size, 10}, 
                                   {reconnect_sleep, 1000},
                                   {connect_timeout, 1000}]},
                          {pg_odbc, [{pool_size, 22},
                                     {keepalive_timeout, 60000},
                                     {host, <<"ejb_http_server">>},
                                     {odbc_server, <<"192.168.254.100">>},
                                     {odbc_port, 5432},
                                     {odbc_database, <<"ejabberd">>},
                                     {odbc_user, <<"ejabberd">>},
                                     {odbc_password, <<"pgredis">>},
                                     {start_interval, 1000},
                                     {max_queue, 1000},
                                     {dbtype, pgsql}]},
                          {http_client, [{poolsize, 120}]},
                          {ejb_cache, [{ejabberd_server, "http://127.0.0.1:10050/"}
                                        ]}
                         ]},
			{ejabberd_node,			 [{node,""}]},
			{http_other_node,		 [{other_node,"ejb_http_server@ejabhost1"}]},
			{ejabberd_config,		 [{host,"ejabhost1"}]}
]}].
